.circle {
  background: #01305a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.circle:hover {
  cursor: pointer;
  width: 500px;

  height: 500px;
  border-radius: 0%;
}

.circle1 {
  border-radius: 50%;
  width: 0px;
  height: 0px;
  position: absolute;
  right: 10px;
  transition: all 0.3s ease;
}
